.filter-selected {
	background: url('../images/item-menu-checkmark.png') no-repeat 90% 50%;
}

.spinner-popup {
	min-width: 200px;
	padding: 20px 30px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	-webkit-border-image: none;
	text-align: center;
}

.aboutTitle {
	font-weight: bold;
	font-size: 20px;
}

.versText {
	font-weight: bold;
	font-size: 16px;
}